<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>QuizPage</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <ion-card id="quizCard">
    <ion-item class="text quizQuestion" *ngIf="nextWord">
      {{ nextWord.word }}
    </ion-item>
    <ion-item>
      {{ input.answer }}
    </ion-item>
    <ion-item>
      <input id="quizInput" type="text" [(ngModel)]="input.answer" (ngModelChange)="answerOnChange($event)" />
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item class="text" *ngFor="let item of quizList | async">
      {{item}}
    </ion-item>
  </ion-card>
</ion-content>