<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Quiz</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding [ngClass]="getBackground()">
  <ion-row>
    <ion-col col-12 col-md-5 col-lg-3>
      <ion-card class="outer-table translucent" padding>
        <session-stats [stats]="sessionStats"></session-stats>
        <div class="inner-table translucent">
          <h1><span id="mapSize" class="translucent" *ngIf="this.dynamicQuiz">
              {{this.dynamicQuiz.size}}
            </span></h1>
          remaining
        </div>
      </ion-card>

      <ion-card id="quizCard" class="translucent">
        <ion-item id="quizAnswer" class="text quizQuestion translucent" *ngIf="nextWord">
          {{ nextWord.word }}
        </ion-item>
        <ion-item class="translucent">
          <input id="quizInput" type="text" [(ngModel)]="input.answer" (ngModelChange)="answerOnChange($event)" />
        </ion-item>
        <ion-item id="solutionsGivenItem" *ngIf="solutionsGiven">
          <span *ngFor="let item of solutionsGiven" class="solution">
            {{item}}
          </span>
        </ion-item>
        <ion-card id="buttonCard" class="outer-table">
          <div class="inner-table" >
            <button ion-fab id="correctButton" class="quizButtonItem button-align"  (click)="handleCorrect()">
                  <ion-icon name="checkmark"></ion-icon>
                </button>
          </div>
          <div class="inner-table">
            <button ion-fab id="incorrectButton" class="quizButtonItem button-align" (click)="handleIncorrect()">
              <ion-icon name="thumbs-down"></ion-icon>
              </button>
          </div>
        </ion-card>
      </ion-card>
    </ion-col>
    <ion-col col-12 col-md-5 col-lg-3>
<word-history [word]="lastQuizWord" [alpha]="lastQuizAlpha" (onReschedule)="reschedulePreviousWordToNow($event)"></word-history>


    </ion-col>
  </ion-row>

</ion-content>