<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Quiz</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding [ngStyle]="{'background-color': pageBackground}">
  <ion-row>
    <ion-col col-12 col-md-6 col-lg-4>
      <ion-card class="outer-table translucent" padding>
        <quiz-info [quiz]="dynamicQuiz" [log]="logCount" class="inner-table"></quiz-info>
        <session-stats [stats]="sessionStats" class="inner-table"></session-stats>
      </ion-card>

      <ion-card id="quizCard" class="translucent">
        <quiz-question *ngIf="nextWord" [question]="nextWord.word"></quiz-question>
        <span *ngIf="!nextWord" class="quizTwelve">Loading quiz...</span>
        <input-box [(answer)]="input.answer" [inputSubject]="input$" (answerChanger)="answerOnChange($event)" (isBlankEnter)="handleIncorrect()"></input-box>
        <solutions-box [solutions]="solutionsGiven"></solutions-box>
        <quiz-buttons (onAnswer)="handleAnswer($event)"></quiz-buttons>
      </ion-card>

    </ion-col>
    <ion-col col-12 col-md-6 col-lg-4>
      <word-history [word]="lastQuizWord" [alpha]="lastQuizAlpha" (onReschedule)="reschedulePreviousWordToNow($event)"></word-history>
    </ion-col>
  </ion-row>

</ion-content>
