page-quiz {
    .quizQuestion {
        font-size: 250%;
        font-size-adjust: 0.58
    }
    .mapSize {
        font-size: 50%;
    }
    #quizAnswer, .centered {
        text-align: center;
    }
    .quizSolutions {
        font-family: 'roboto', 'noto sans', sans-serif;
        padding: 1px;
        font-weight: bold;
    }
    #quizInput {
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
    }
    #quizButtonItem {
        line-height: 100px;
    }
    ion-item #solutionsGivenItem {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
    ion-card #buttonCard {
        border: none;
        box-shadow: none;
    }
    .outer-table {
        display: table;
    }
    .inner-table {
        display: table-cell;
        vertical-align: middle;
        padding: 5px;
    }
    .button-align {
        margin: auto;
    }
}