page-quiz {
    html {
        font-size: 10px;
        font-size-adjust: 0.58;
    }
    .mapSize, h1, .headline {
        font-size: 2.7rem;
    }
    span#logCount {
        font-weight: 600;
    }
    span.caption {
        font-size: 1.2rem;
        opacity: 0.6;
    }
    h2 {
        font-size: 1.8rem;
    }
    .solutions {
        font-size: 120%;
        font-weight: bold;
    }
    #quizAnswer, .centered {
        text-align: center;
    }
    .quizSolutions {
        font-family: 'roboto', 'noto sans', sans-serif;
        padding: 1px;
        font-weight: bold;
    }
    #quizInput {
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
    }
    #quizButtonItem {
        line-height: 100px;
    }
    #correctButton {
        background-color: $correct;
    }
    #incorrectButton {
        background-color: $incorrect;
    }
    ion-item #solutionsGivenItem {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
    ion-card #buttonCard {
        border: none;
        box-shadow: none;
    }
    .outer-table {
        display: table;
    }
    .inner-table {
        display: table-cell;
        vertical-align: middle;
        padding: 5px;
    }
    td.info-cell {
        display: table-cell;
        vertical-align: middle;
        padding: 0px 5px 0px 5px; /*t, r, b, l */
        text-align: center;
    }
    .button-align {
        margin: auto;
    }
    
    .quizQuestion {
        font-size: 5rem;
    }
    .quizNine {
        font-size: 4rem;
    }
    .quizTwelve {
        font-size: 3rem;
    }


    
    @media(max-width:400px) {
        .quizQuestion {
            font-size: 4rem;
        }
        .quizNine {
            font-size: 2.8rem;
        }
        .quizTwelve {
            font-size: 2.1rem;
        }
    }
    
    @media(max-width:299px) {
        .quizQuestion {
            font-size: 3rem;
        }
        .quizNine {
            font-size: 2.1rem;
        }
        .quizTwelve {
            font-size: 1.6rem;
        }
    }

}
