<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="loggedIn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>

<login-bar [userIdent]="userIdent" [loggedIn]="loggedIn" (clickLogin)="goToLogin()" (clickLogout)="logout()"></login-bar>

</ion-header>

<ion-content padding>
  <ion-row>
    
      <ion-col col-14 col-md-10 col-lg-8 *ngIf="!loggedIn">
    <ion-card padding>
      <p>Welcome to Mondain Words, a site to practice unscrambling anagrams.</p>
      <p>If it's your first time here, please
        <a class="link" (click)="signup()">register an account.</a></p>
        <p>Otherwise, <a class="link" (click)="goToLogin()">
          sign in with your username and password.</a></p>
    </ion-card>
      </ion-col>

    <ion-col col-14 col-md-8 col-lg-4 *ngIf="loggedIn">
      <ion-card padding>
        <h2>Search For Words</h2>
        <ion-item color="item-background" class="searchInput">
          <ion-label>Word length</ion-label>
          <ion-input type="number" min="2" max="15" [(ngModel)]="inputWordLength" (focus)="refreshList()" (change)="refreshList()"></ion-input>
        </ion-item>
        <ion-item color="item-background" class="searchInput">
          <ion-label>List length</ion-label>
          <ion-input type="number" min="1" max="50" [(ngModel)]="inputListSize" (focus)="refreshList()" (change)="refreshList()"></ion-input>
        </ion-item>
        <ion-item color="item-background" class="searchInput">
          <ion-label>Start Position</ion-label>
          <ion-input type="number" min="1" max="40000" [step]="inputListSize" [(ngModel)]="inputStartPos" (focus)="refreshList()" (change)="refreshList()"></ion-input>
        </ion-item>
      </ion-card>
      <ion-item>
        <button ion-button *ngIf="!displayCustomList" id="enterCustomListButton" (click)="setEmptyCustomList()">Custom List...</button>
      </ion-item>
      <ion-card *ngIf="displayCustomList">
        <ion-textarea [(ngModel)]="userQuizList" placeholder="Enter one word (or alphagram) per line."></ion-textarea>
        <button ion-button id="saveCustomListButton" (click)="saveUserQuizList()">Save Custom List</button>
      </ion-card>
    </ion-col>
    <ion-col col-14 col-md-10 col-lg-6>
      
      <ion-card color="item-background" *ngIf="loggedIn">
        <ion-item>
          <h1>Search Results</h1>
        </ion-item>
        <ion-item>
          <button ion-button [disabled]="!isLoggedIn()" (click)="addToStudyList()">
        Add to Study List
      </button>
        </ion-item>
         <ion-item class="text" *ngFor="let item of dynamicQueryList" color="item-background" [ngClass]="{'green': item.hasHistory}">
            {{item.rank}} {{item.alphagram}}
        </ion-item>
      </ion-card>
      
    </ion-col>
  </ion-row>
</ion-content>
