<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
  
  <ion-item color="item-background" class="login-bar">
    <span class="login-item">
        Logged in as: {{userIdent}}</span>
  <span class="login-item"><button ion-button *ngIf="!loggedIn" (click)="refreshLogin()">Login</button></span>
</ion-item>

</ion-header>

<ion-content padding>
  <ion-row>


    <ion-col col-12 col-md-10 col-lg-8>
      <ion-card>
        <ion-item color="item-background">
          <ion-label>List length</ion-label>
          <ion-input type="number" [value]="inputListSize" min="1" max="50" [(ngModel)]="inputListSize" (blur)="refreshList()"></ion-input>
        </ion-item>
        <ion-item color="item-background">
          <ion-label>Word length</ion-label>
          <ion-input type="number" [value]="inputWordLength" min="2" max="15" [(ngModel)]="inputWordLength" (blur)="refreshList()"></ion-input>
        </ion-item>
        <ion-item color="item-background">
          <ion-label>Start Position</ion-label>
          <ion-input type="number" [value]="inputStartPos" min="1" max="40000" [(ngModel)]="inputStartPos" (blur)="refreshList()"></ion-input>
        </ion-item>
      </ion-card>
      <ion-item>
      <button ion-button *ngIf="!userQuizList" (click)="setEmptyCustomList()">Enter Custom List</button>
      </ion-item>
      <ion-card *ngIf="userQuizList">
        <ion-textarea [(ngModel)]="userQuizList" placeholder="Enter a list of words here"></ion-textarea>
        <button ion-button (click)="saveUserQuizList()">Save Custom List</button>
      </ion-card>
    </ion-col>
    <ion-col col-14 col-md-12 col-lg-10>
      <ion-card color="item-background">
        <ion-item>
        <h1>Search Results</h1>
        </ion-item>
        <ion-item>
          <button ion-button [disabled]="!isLoggedIn()" (click)="addToStudyList()">
        Add to Study List
      </button>
        </ion-item>
      </ion-card>
      <span *ngIf="dynamicQueryList"></span>
      <ion-item class="text" *ngFor="let item of dynamicQueryList" color="item-background" [ngClass]="{'green': item.hasHistory}">
        {{item.alphagram}} {{item.rank}} {{item.hasHistory}}
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
