page-home {
    textarea, ion-textarea {
        background-color: #eee;
        padding: 5px 0px 0px 0px;
        border: 1px solid #aaa;
    }
    .green {
        background-color: #B3D8B3;
    }
    #login-bar {
        display: table;
    }
    .login-item {
        display: table-cell;
        vertical-align: middle;
        padding-right: 10px;
    }
}
