// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #595C93,
  secondary:  #DDDBDF,
  danger:     #f53d3d,
  failure:    #f53d3d,
  success:    #3DB2F5,
  light:      rgb(238, 238, 238),
  dark:       #7275A2,
  item-background: rgb(242, 242, 242),
  navbar-background: rgb(242, 242, 242)
);


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
$background-color: mix(map-get($colors, light), #eee, 15%);

$correct: mix(map-get($colors, primary), map-get($colors, success), 45%);
$incorrect: mix(map-get($colors, primary), map-get($colors, danger), 45%);
$card-ios-background-color: map-get($colors, item-background);
$card-md-background-color: map-get($colors, item-background);
$card-wp-background-color: map-get($colors, item-background);



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
