// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: color($colors, secondary);
  box-shadow: inset 0 -1px 0 0 color($colors, secondary);
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
  border-bottom-color: color($colors, secondary);
  box-shadow: inset 0 -1px 0 0 color($colors, secondary);
}

ion-navbar {
    color: color($colors, item-background)
}

.color-100 {
  background-color: lighten(mix(#595C93, #3DB2F5, 70%),35%)
}
.color-95 {
  background-color: lighten(mix(#595C93, #3DB2F5, 50%),35%)
}
.color-90 {
  background-color: lighten(mix(#595C93, #3DB2F5, 30%),35%)
}
.color-85 {
  background-color: lighten(mix(#595C93, #3DB2F5, 15%),35%)
}
.color-80 {
  background-color: lighten(#595C93,35%)
}
.color-70 {
  background-color: lighten(mix(#595C93, #f53d3d, 20%),35%)
}
.color-60 {
  background-color: lighten(mix(#595C93, #f53d3d, 35%),35%)
}
.color-50 {
  background-color:  lighten(mix(#595C93, #f53d3d, 50%),35%)
}
.color-0 {
  background-color: lighten(mix(#595C93, #f53d3d, 70%),35%)
}